In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm
from pandas.tseries.offsets import DateOffset
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_pacf, plot_acf
from datetime import datetime

In [9]:
df = pd.read_csv('data.csv')
# df = pd.read_csv('data.csv')
df = df.drop('STORE', axis=1)
df.head()

                   SALE_DT        SALES
0  2019-01-01 00:00:00.000         0.00
1  2019-01-02 00:00:00.000  16553359.58
2  2019-01-03 00:00:00.000  17956624.58
3  2019-01-04 00:00:00.000  19440652.23
4  2019-01-05 00:00:00.000  20677704.73

In [10]:
df.columns = ['Month', 'Sales']
df.head()

                     Month        Sales
0  2019-01-01 00:00:00.000         0.00
1  2019-01-02 00:00:00.000  16553359.58
2  2019-01-03 00:00:00.000  17956624.58
3  2019-01-04 00:00:00.000  19440652.23
4  2019-01-05 00:00:00.000  20677704.73

In [11]:
df.shape

(1274, 2)

In [12]:
df.isnull().sum()

Month    0
Sales    0
dtype: int64

In [13]:
df.tail()

                        Month        Sales
1269  2022-06-26 00:00:00.000  17243093.78
1270  2022-06-27 00:00:00.000  13538082.87
1271  2022-06-28 00:00:00.000  13565274.83
1272  2022-06-29 00:00:00.000  14959597.22
1273  2022-06-30 00:00:00.000  15852066.23

In [14]:
df.shape

(1274, 2)

In [15]:
df.dtypes

Month     object
Sales    float64
dtype: object

In [16]:
df['Month'] = pd.to_datetime(df['Month'])
df.dtypes

Month    datetime64[ns]
Sales           float64
dtype: object

In [17]:
df.head()

       Month        Sales
0 2019-01-01         0.00
1 2019-01-02  16553359.58
2 2019-01-03  17956624.58
3 2019-01-04  19440652.23
4 2019-01-05  20677704.73

In [117]:
summma = 0
for i in df.Sales[699:730]:
    print(i)
    summma+=i
print(summma)

14357272.94
15213177.19
16484016.6
20239401.08
29438920.15
25239997.73
15336861.04
16406843.42
17704980.21
18903249.06
21657195.89
31952644.63
26219059.69
16240093.16
17866596.21
19066153.32
19666008.73
23177561.26
33579669.89
29167122.99
19706373.54
21302856.02
22831521.07
23811720.64
23545284.3
38348015.7
35999627.06
30445765.77
36724777.11
44218807.44
30165027.64
755016601.4799999

In [116]:
df.Sales[699]

14357272.94

In [115]:
df.Sales[730]

12730710.99